/*-- Global Variable Declarations--*/
:root {
/*-- Fonts--*/
    --logofont: "Architects Daughter", sans-serif;
    --titlefont: "Montserrat", sans-serif;
    --bodyfont: "Open Sans", sans-serif;
/*-- Colour Palette--*/
    --maximumbluegreen: #00C5CC;
    --vividiangreen: #009EA3;
    --skobeloff: #00767A;
    --atomictangerine: #FFA570;
    --mangotango: #FF8B47;
    --pumpkin: #FF711F;
    --salmon: #E97C72;
    --fireopal: #E35B4F;
    --cgred: #DE3A2B;  
    --lemoncurry: #CC9900;
    --orangeyellow: #F5B800;
    --mikadoyellow: #FFC71F;
    --paradisepink: #E74B63;
    --ultrared: #EB6F82;
    --salmonpink: #F093A1;
    --white: #FFFFFF;
}

/*-- HTML--*/
html {
    font-size: 62.5%;
}

/*-- Body--*/
body {
    font-family: var(--bodyfont);
    font-size: 1.6rem;
    min-height: 100vh;
    background: var(--white);
}

/*-- Containers --*/
.container-search {
    padding: 2.0rem 1.25rem 1.5rem 1.25rem;
}

.container-input {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/*-- Logo --*/
.logo {
    font-family: var(--logofont);
    font-size: 3.5rem;
    padding-left: 1.0rem;
}

/*-- Headings --*/
.heading {
    font-family: var(--titlefont);
    padding-left: 1.0rem;
}

/*-- Bootstrap Navbar Overrides --*/
.navbar {
    background-color: var(--fireopal);
}

.navbar-nav a {
    font-family: var(--titlefont);
}

.dropdown-item {
    font-size: 1.2rem;
}

/*-- Alerts --*/
.alert-mangotango {
    font-family: var(--titlefont);
    color: var(--white);
    background-color: var(--mangotango);
    border-color: var(--mangotango);
}

/*-- Buttons --*/
.btn-mangotango {
    font-family: var(--titlefont);
    color: var(--white);
    background-color: var(--mangotango);
    border-color: var(--mangotango);
}

/*-- Button Hover Styling --*/
.btn-mangotango:hover {
    background-color: var(--pumpkin);
    border-color: var(--pumpkin);
}

.btn-mangotango:active 
.btn-mangotango:focus  {
    background-color: var(--fireopal);
    border-color: var(--fireopal);
}

/*-- Input Styling --*/
.input-title {
    font-family: var(--titlefont);
}
