/*-- Global Variable Declarations--*/
:root {
/*-- Fonts--*/
    --logofont: "Architects Daughter", sans-serif;
    --titlefont: "Montserrat", sans-serif;
    --bodyfont: "Open Sans", sans-serif;
/*-- Colour Palette--*/
    --vividiangreen: #009EA3;
    --salmon: #E97C72;
    --fireopal: #E35B4F;
    --venetianred: #C22C1E;  
    --lemoncurry: #CC9900;
    --orangeyellow: #F5B800;
    --white: #FFFFFF;
}

/*-- HTML--*/
html {
    font-size: 62.5%;
}

/*-- Body--*/
body {
    font-family: var(--bodyfont);
    font-size: 1.6rem;
    min-height: 100vh;
    background: var(--white);
}

/*-- Containers --*/
.container-search {
    padding: 2.0rem 1.25rem 1.5rem 1.25rem;
}

.container-results {
    padding: 1.25rem 1.25rem 1.5rem 1.25rem;
}

.container-input {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/*-- Logo --*/
.logo {
    font-family: var(--logofont);
    font-size: 3.5rem;
    padding-left: 1.0rem;
}

/*-- Headings --*/
.heading {
    font-family: var(--titlefont);
    padding-left: 1.0rem;
}

.section-heading {
    font-family: var(--titlefont);
    font-size: 1.25rem;
    font-weight: normal;
}

/*-- Alerts --*/
.alert-orangeyellow {
    font-family: var(--titlefont);
    color: var(--white);
    background-color: var(--orangeyellow);
    border-color: var(--orangeyellow);
}

/*-- Alert Links --*/
.alert a {
    font-weight: 500;
    color: var(--fireopal);
    text-decoration: none;
}

/*-- Alert Link Pseudo Class Styling --*/
.alert a:hover,
.alert a:active,
.alert a:focus,
.alert a:visited {
    color: var(--venetianred);
    text-decoration: none;
}

/*-- Buttons --*/
.btn-fireopal {
    font-family: var(--titlefont);
    color: var(--white);
    background-color: var(--fireopal);
    border-color: var(--fireopal);
}

.btn-orangeyellow {
    font-family: var(--titlefont);
    color: var(--white);
    background-color: var(--orangeyellow);
    border-color: var(--orangeyellow);
}

/*-- Button Hover Styling --*/
.btn-fireopal:hover {
    background-color: var(--venetianred);
    border-color: var(--venetianred);
}

.btn-fireopal:active 
.btn-fireopal:focus  {
    background-color: var(--venetianred);
    border-color: var(--venetianred);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(233 124 114 / 25%);
}

.btn-orangeyellow:hover {
    background-color: var(--lemoncurry);
    border-color: var(--lemoncurry);
}

.btn-orangeyellow:active 
.btn-orangeyellow:focus  {
    background-color: var(--lemoncurry);
    border-color: var(--lemoncurry);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 199 31 / 25%);
}

/*-- Inputs --*/
.input-title {
    font-family: var(--titlefont);
    border: 1px solid var(--fireopal);
}

.input-title:focus,
.form-check-input:focus {
    border-color: var(--venetianred);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(233 124 114 / 25%);
}

.input-label {
    font-family: var(--titlefont);
    font-size: 1.25rem;
}

.input-label-sm {
    font-family: var(--titlefont);
    font-size: 1.2rem;
}

.form-check label {
    font-family: var(--titlefont);
    font-size: 1.2rem;
    width: 5.5rem;
    vertical-align: middle;
    padding-bottom: 0.2rem;
}

.form-errors {
    font-family: var(--titlefont);
    font-size: 1.1rem;
    color: var(--venetianred);
}

.form-check-input:checked {
    background-color: var(--fireopal);
    border: 1px solid var(--firopal);
}

/*-- Results Table --*/
.results-table th,
.results-table td {
    font-size: 1.1rem;
    line-height: 1.2rem;
    word-wrap: break-word;
}

.results-table-header,
.results-table-header th {
    color: var(--white);
    background: var(--fireopal);
    vertical-align: middle;
}

.results-table-row,
.results-table-header tr {
    border-color: var(--orangeyellow);
    vertical-align: middle;
}

.results-table-row a {
    font-size: 1.2rem;
    color: var(--vividiangreen);
    vertical-align: middle;
}

.results-table-row i {
    color: var(--orangeyellow);
    font-size: 1.0rem;
}

/*-- Icons --*/
.rating i {
    color: var(--orangeyellow);
    font-size: 1.3rem;
}

.container-error i,
.container-footer i {
    color: var(--fireopal);
}

/*-- Icon pseudo class styling --*/
.container-error i:hover,
.container-error i:active,
.container-error i:focus,
.container-footer i:hover,
.container-footer i:active,
.container-footer i:focus {
    color: var(--venetianred);
    text-decoration: none;
}

.container-error i:visited,
.container-footer i:visited {
    color: var(--fireopal);
    text-decoration: none;
}

/*-- Footer links --*/
.container-footer a {
    font-family: var(--titlefont);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--fireopal);
    text-decoration: none;
}

/*-- Footer link pseudo class styling --*/
.container-footer a:hover,
.container-footer a:active,
.container-footer a:focus {
    color: var(--venetianred);
    text-decoration: none;
}

container-footer a:visited {
    color: var(--fireopal);
    text-decoration: none;
}

/*-- Data Tables Style Overrides --*/
.dataTables_length label,
.dataTables_filter label,
.dataTables_paginate li,
.dataTables_info {
    font-size: 1.2rem;
}

#productsTable_previous a {
    border: 1px solid var(--salmon);
}

#productsTable_next a {
    border: 1px solid var(--salmon);
}

/*-- Bootstrap Style Overrides --*/
/*-- Bootstrap Navbar Overrides --*/
.navbar {
    background-color: var(--fireopal);
}

.navbar-nav a {
    font-family: var(--titlefont);
}

.dropdown-item {
    font-size: 1.2rem;
}


/*-- Bootstrap Form Overrides --*/
.form-control, .form-select {
    border: 1px solid var(--salmon);
}

.form-control:focus, .form-select:focus {
    border-color: var(--fireopal);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(233 124 114 / 25%);
}

.form-control-readonly:focus {
    border-color: var(--salmon);
    outline: 0;
    box-shadow: None;
}

/*-- Bootstrap Table Overrides --*/
.page-item.active .page-link {
    background-color: var(--fireopal);
    border: 1px solid var(--fireopal);
}  

.page-item.active .page-link:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(233 124 114 / 25%);
}
