{% extends "base.html" %}
{% block content %}
    <!-- FreeFrom 404 Error Section-->
    <section id="404-error-section" class="container-sm">
        <div class="row container-search pb-1">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="container-404 text-center text-404">
                    <div class="alert alert-danger text-center alert-orangeyellow" role="alert">
                        Oops.... looks like you've lost your way :)<br>
                        Click the signpost to return to civilisation!
                    </div>
                    <a href="{{ url_for('products.search') }}"><i class="fas fa-map-signs fa-3x pt-2"></i></a>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </section>
{% endblock %}
