{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import form_error %}
    <section id="allergen-edit" class="container-sm" aria-label="Allergen Edit">
        <div class="row">
            <form id="allergen-edit-form" method="POST" action="{{ url_for('allergens.allergen_edit') }}">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-12 col-md-6 pt-4">
                        <label class="form-label input-label" for="allergenSelector">Existing Allergen Name</label>
                        <select class="form-select form-select-lg input-title" id="allergenSelector"
                            name="allergenSelector" aria-label="Allergen Selector">
                                <option selected>allergen...</option>
                                {% for allergen in allergens %}
                                    <option value="{{ allergen.name }}">{{ allergen.name }}</option>
                                {% endfor %}
                        </select>
                    </div> 
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-12 col-md-6 pt-4">
                        {{ form.name.label(class="form-label input-label") }}
                        {{ form.name(class="form-control form-control-lg input-title") }}
                        {{ form_error(form.name) }}
                    </div> 
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-12 col-md-6 pt-4">
                        <button type="submit" class="btn btn-lg btn-danger btn-fireopal">Update</button>
                        <a href="{{ url_for('products.search') }}" class="btn btn-lg btn-secondary">Cancel</a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
