{% extends "base.html" %}
{% block content %}  
{% from "_formhelpers.html" import form_error %}
<div class="container-sm">
    <div class="row pt-5">
        <div class="col-sm-4"></div>
        <div class="col-12 col-sm-4">
            <form method="POST" action="{{ url_for('mail.contact') }}">
                <div>
                    <div class="mb-3">
                    <div>
                        {{ form.name.label(class="form-label input-label") }}
                        {{ form.name(class="form-control form-control-lg input-title") }}
                        {{ form_error(form.name) }}
                    </div>
                </div>
                <div>
                    <div class="mb-3">
                    <div>
                        {{ form.email.label(class="form-label input-label") }}
                        {{ form.email(class="form-control form-control-lg input-title") }}
                        {{ form_error(form.email) }}
                    </div>
                </div>
                <div>
                    <div class="mb-3 pb-2">
                    <div>                       
                        {{ form.message.label(class="form-label input-label") }}
                        {{ form.message(rows="8", cols="5", class="form-control form-control-lg input-title") }}
                        {{ form_error(form.message) }}
                    </div>                    
                </div>
                <button type="submit" class="btn btn-lg btn-danger btn-fireopal">Contact</button>
                <a href="{{ url_for('products.search') }}" class="btn btn-lg btn-secondary">Cancel</a>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}
