{% extends "base.html" %}
{% block content %}
    <!-- FreeFrom Error Section-->
    <section id="error-section" class="container-sm">
        <div class="row container-search pb-1">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="container-error text-center text-error">
                    <div class="alert alert-danger text-center alert-orangeyellow" role="alert">
                        Oops.... {{ error }} :)<br>
                        Please click the signpost below to return to civilisation!
                    </div>
                    <a href="{{ url_for('products.search') }}"><i class="fas fa-map-signs fa-3x pt-2"></i></a>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </section>
{% endblock %}
