{% extends "base.html" %}
{% block content %}
    <section id="search" class="container-sm">
        <div class="row">
            <div class="col-12 container-search pb-1">
                {% if session.user %}
                    <div class="alert alert-danger text-center alert-orangeyellow" role="alert">
                        Signed in as <b>{{ session['user'] }}</b>.<br>
                        Find, rate, review and add products which are free from one or more common allergens.
                    </div>
                {% else %} 
                <div class="alert alert-danger text-center alert-orangeyellow" role="alert">
                    Find, rate, review and add products which are free from one or more common allergens
                </div>
                {% endif %}
            </div>
        </div>
        <form id="search-form" method="POST" action="{{ url_for('products.search') }}">
            <div class="row">
                <div class="input-group input-group-lg">
                    <div class="col-12 col-md-5 container-input">
                        <input type="search" id="search" name="search" class="form-control form-select-lg input-title" placeholder="Search....">
                    </div>
                    <div class="col-8 col-md-5 container-input">
                        <select class="form-select form-select-lg input-title" id="categorySelector"
                            name="categorySelector" aria-label="Category Selector">
                            <option selected>Category...</option>
                            {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name[0]|upper }}{{category.name[1:] }}</option>
                            {% endfor %}
                        </select>
                    </div> 
                    <div class="col-2 col-md-1 container-input">
                        <button type="submit" id="btn-search" class="btn btn-lg btn-danger btn-fireopal w-100">
                            <i class="fas fa-search"></i>  
                        </button>
                    </div>       
                    <div class="col-2 col-md-1 container-input">
                        <button type="button" id="btn-add" class="btn btn-lg btn-danger btn-fireopal w-100">
                            <i class="fas fa-plus"></i>  
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-4">
                    {% for allergen in allergens %}
                        <div class="form-check form-check-inline">
                            {% if selected_allergens %}
                                {% if allergen in selected_allergens %}
                                    <input class="form-check-input" type="checkbox" id="{{ allergen.name }}Checkbox"
                                        value="{{ allergen.name }}" name="{{ allergen.name }}Checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="{{ allergen.name }}Checkbox"
                                        value="{{ allergen.name }}" name="{{ allergen.name }}Checkbox">    
                                {% endif %}                               
                            {% else %}
                                <input class="form-check-input" type="checkbox" id="{{ allergen.name }}Checkbox"
                                    value="{{ allergen.name }}" name="{{ allergen.name }}Checkbox">
                            {% endif %}
                            <label class="form-check-label" for="{{ allergen.name }}Checkbox">{{ allergen.name }}</label>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section id="results" class="container-sm">
        <div class="row">
            <div class="col-12 container-results">
                <table class="table results-table">
                    <thead>
                        <tr class="table-primary results-table-header">
                            <th scope="col">Product</th>
                            <th scope="col">Maufacturer</th>
                            <th scope="col">Category</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Free From</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr class="table-light results-table-row">
                            <td><a href="">{{ product.name }}</a></td>
                            <td>{{ product.manufacturer }}</td>
                            <td>Biscuits</td>
                            <td>Rating</td>
                            <td>Free From</td>
                        <tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
