{% extends "base.html" %}
{% block content %}
    <section id="search-input" class="container-sm" aria-label="Search Input">
        <div class="row">
            <div class="col-12 container-search pb-1">
                {% if session.user %}
                    <div class="alert alert-danger text-center alert-orangeyellow" role="alert">
                        Signed in as <b>{{ session['user'] }}</b>.<br>
                        Find, rate, review and add products which are free from one or more common allergens.
                    </div>
                {% else %} 
                <div class="alert alert-danger text-center alert-orangeyellow" role="alert">
                    Find, rate, review and add products which are free from one or more common allergens
                </div>
                {% endif %}
            </div>
        </div>
        <form id="search-form" method="POST" action="{{ url_for('products.search') }}">
            <div class="row">
                <div class="input-group input-group-lg">
                    <div class="col-12 col-md-5 container-input">
                        <input type="search" id="search" name="search" class="form-control form-select-lg input-title" placeholder="Search....">
                    </div>
                    <div class="col-8 col-md-5 container-input">
                        <select class="form-select form-select-lg input-title" id="categorySelector"
                            name="categorySelector" aria-label="Category Selector">
                            <option selected>Category...</option>
                            {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name[0]|upper }}{{category.name[1:] }}</option>
                            {% endfor %}
                        </select>
                    </div> 
                    <div class="col-2 col-md-1 container-input">
                        <button type="submit" id="btn-search" class="btn btn-lg btn-danger btn-fireopal w-100">
                            <i class="fas fa-search"></i>  
                        </button>
                    </div>
                    {% if session.user %}   
                        <div class="col-2 col-md-1 container-input">
                            <a href="{{ url_for('products.add') }}" class="btn btn-lg btn-danger btn-fireopal w-100">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-4">
                    {% for allergen in allergens %}
                        <div class="form-check form-check-inline">
                            {% if selected_allergens %}
                                {% if allergen in selected_allergens %}
                                    <input class="form-check-input" type="checkbox" id="{{ allergen.name }}Checkbox"
                                        value="{{ allergen.name }}" name="{{ allergen.name }}Checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="{{ allergen.name }}Checkbox"
                                        value="{{ allergen.name }}" name="{{ allergen.name }}Checkbox">    
                                {% endif %}                               
                            {% else %}
                                <input class="form-check-input" type="checkbox" id="{{ allergen.name }}Checkbox"
                                    value="{{ allergen.name }}" name="{{ allergen.name }}Checkbox">
                            {% endif %}
                            <label class="form-check-label" for="{{ allergen.name }}Checkbox">{{ allergen.name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </section>
    {% if products %}
        <section id="search-results" class="container-sm" aria-label="Search Results">
            <div class="row">
                <div class="col-12 container-results">
                    <table id="productsTable" class="table table-striped responsive results-table" style="width:100%">
                        <thead>
                            <tr class="table-primary results-table-header">
                                <th data-priority="1">Product</th>
                                <th data-priority="5">Manufacturer</th>
                                <th data-priority="4">Category</th>
                                <th data-priority="3">Rating</th>
                                <th data-priority="2">Free From</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr class="table-light results-table-row">
                                    <td><a href="{{ url_for('products.view', product_id=product._id) }}">{{ product.name }}</a></td>
                                    <td>{{ product.manufacturer }}</td>
                                    <td>{{ product.category_name }}</td>
                                    {% if product.average_rating %}
                                        {% if product.average_rating == 0.0 %}
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </td>
                                        {% elif product.average_rating == 0.5 %}
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="fas fa-star-alt"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </td>
                                        {% elif product.average_rating == 1.0 %} 
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </td>
                                        {% elif product.average_rating == 1.5 %} 
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="fas fa-star-half-alt"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </td>
                                        {% elif product.average_rating == 2.0 %} 
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </td>
                                        {% elif product.average_rating == 2.5 %} 
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </td>
                                        {% elif product.average_rating == 3.0 %} 
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </td>
                                        {% elif product.average_rating == 3.5 %} 
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <i class="far fa-star"></i>
                                            </td>
                                        {% elif product.average_rating == 4.0 %} 
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </td>
                                        {% elif product.average_rating == 4.5 %} 
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </td>
                                        {% elif product.average_rating == 5.0 %} 
                                            <td class="table-rating">
                                                <span class="d-none">{{ product.average_rating }}</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </td>
                                        {% endif %} 
                                    {% else %}
                                        <td>Not Rated</td>
                                    {% endif %}
                                    <td>{{ product.free_from_allergen_names|join(", ") }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
