{% extends "base.html" %}
{% block content %}
 <!--Import form error macro -->
{% from "_formhelpers.html" import form_error %}
    <!-- Product edit form -->
    <section id="product-edit" class="container-sm" aria-label="Product Edit">
        <div class="row">
            <form id="product-edit-form" method="POST" 
                action="{{ url_for('products.edit', product_id=product_id) }}">
                <div class="row">
                    <div class="col-md-3"></div>
                    <!-- WTForms name field -->
                    <div class="col-12 col-md-6 pt-4">
                        {{ form.name.label(class="form-label input-label") }}
                        {{ form.name(class="form-control form-control-lg input-title") }}
                        <!-- Display form errors -->
                        {{ form_error(form.name) }}
                    </div> 
                    <div class="col-md-3"></div>
                </div>
                <!-- Category selector -->
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-12 col-md-6 pt-4">
                        <label class="form-label input-label" for="categorySelector">Category</label>
                        <select class="form-select form-select-lg input-title" id="categorySelector"
                            name="categorySelector" aria-label="Category Selector">
                                <option selected>{{ product_category }}</option>
                            <!-- Iterate over categories and populate drop down category selector -->
                            {% for category in categories %}
                                {% if category.name != product_category %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div> 
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-12 col-md-6 pt-4">
                        <!-- WTForms manufacturer field -->
                        {{ form.manufacturer.label(class="form-label input-label") }}
                        {{ form.manufacturer(class="form-control form-control-lg input-title") }}
                        <!-- Display form errors -->
                        {{ form_error(form.manufacturer) }}
                    </div> 
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-12 col-md-6 pt-4">
                        <!-- WTForms freefrom field, not displayed -->
                        {{ form.freefrom.label(class="form-label input-label") }} 
                        {{ form.freefrom(class="d-none") }}
                        <div class="div px-4 pb-2">
                        <!-- Allergen selector -->
                        {% for allergen in allergens %}
                            <div class="form-check form-check-inline">
                                <!-- If selected_allergens is passed through as an argument -->
                                {% if selected_allergens %}
                                    <!-- If allergen is in selected_allergens -->
                                    {% if allergen["_id"] in selected_allergens %}
                                        <!-- Show as checked -->
                                        <input class="form-check-input" type="checkbox" id="{{ allergen.name }}Checkbox"
                                            value="{{ allergen.name }}" name="{{ allergen.name }}Checkbox" checked>
                                    {% else %}
                                        <!-- Else show as unchecked -->
                                        <input class="form-check-input" type="checkbox" id="{{ allergen.name }}Checkbox"
                                            value="{{ allergen.name }}" name="{{ allergen.name }}Checkbox">    
                                    {% endif %}                               
                                {% else %}
                                    <!-- Else show as unchecked -->
                                    <input class="form-check-input" type="checkbox" id="{{ allergen.name }}Checkbox"
                                        value="{{ allergen.name }}" name="{{ allergen.name }}Checkbox">
                                {% endif %}
                                <label class="form-check-label" for="{{ allergen.name }}Checkbox">{{ allergen.name }}</label>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-12 col-md-6 pt-4">
                        <!-- Cancel button redirects to product view -->
                        <a href="{{ url_for('products.view', product_id=product_id) }}" 
                            role="button" class="btn btn-lg btn-secondary">Cancel</a>
                        <!-- Update button submits form -->
                        <button type="submit" class="btn btn-lg btn-danger btn-fireopal">Update</button>
                        <!-- If user is signed in with admin privelages or if product belongs to user -->
                        {% if session.admin or user_product %}
                            <!-- Show delete button -->
                            <a href="{{ url_for('products.delete', product_id=product_id) }}" 
                                role="button" class="btn btn-lg btn-orangeyellow">Delete</a>
                        {% endif %}
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
