{% extends "base.html" %}
{% block content %}
<div class="container-sm">
    <div class="row pt-5">
        <div class="col-sm-4"></div>
        <div class="col-12 col-sm-4">
            <form>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label input-label">Email Address:</label>
                    <input type="email" class="form-control input-title" id="inputemail" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text input-label-sm">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="inputUserName" class="form-label input-label">User Name:</label>
                    <input type="text" class="form-control input-title" id="inputUserName">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label input-label">Password:</label>
                    <input type="password" class="form-control input-title" id="inputPassword">
                </div>
                <button type="submit" class="btn btn-lg btn-danger btn-fireopal">Register</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}
