{% extends "base.html" %}
{% block content %}
<div class="container-sm">
    <div class="row pt-5">
        <div class="col-sm-4"></div>
        <div class="col-12 col-sm-4">
            <form method="POST" action="{{ url_for('userauth.register') }}">
            <!-- //
               <div class="mb-3">
                    <label for="email" class="form-label input-label">Email Address:</label>
                    <input type="email" class="form-control input-title" id="email" 
                        name="email" required aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text input-label-sm">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label input-label">User Name:</label>
                    <input type="text" class="form-control input-title" id="username" 
                        name="username" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" 
                        title="User Name may contain letters or numbers and must be between 5 and 20 characters long" 
                        required>
                </div>
                <div class="mb-3 pb-2">
                    <label for="password" class="form-label input-label">Password:</label>
                    <input type="password" class="form-control input-title" id="password" 
                        name="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$"
                        title="Password may contain letters or numbers and must be at between 5 and 20 characters long"
                        required>
                </div>
            //-->
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
                <div>
                    <div class="mb-3">
                    <div>
                        {{ form.email.label(class="form-label input-label") }}
                        {{ form.email(class="form-control input-title") }}
                        {% if form.username.errors %}
                            <ul class=errors>
                                {% for error in form.username.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="mb-3">
                    <div>
                        {{ form.username.label(class="form-label input-label") }}
                        {{ form.username(class="form-control input-title") }}
                        {% if form.username.errors %}
                            <ul class=errors>
                                {% for error in form.username.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="mb-3 pb-2">
                    <div>
                        {{ form.password.label(class="form-label input-label") }}
                        {{ form.password(class="form-control input-title") }}
                        {% if form.password.errors %}
                            <ul class=errors>
                                {% for error in form.password.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>                    
                </div>
                <button type="submit" class="btn btn-lg btn-danger btn-fireopal">Register</button>
                <a href="{{ url_for('userauth.signin') }}" class="btn btn-lg btn-danger btn-fireopal">Cancel</a>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}
