{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import form_error %}
<div class="container-sm">
    <div class="row pt-5">
        <div class="col-sm-4"></div>
        <div class="col-12 col-sm-4">
            <form method="POST" action="{{ url_for('userauth.signin') }}">
                <div class="div pb-2">
                    <span class="form-label input-label">Don't have an account?&nbsp</span>
                    <a href="{{ url_for('userauth.register') }}" class="btn btn-lg btn-danger btn-orangeyellow">Register</a>
                </div>
                <div>
                    <div class="mb-3">
                    <div>
                        {{ form.username.label(class="form-label input-label") }}
                        {{ form.username(class="form-control form-control-lg input-title") }}
                        {{ form_error(form.username) }}
                    </div>
                </div>
                <div>
                    <div class="mb-3 pb-2">
                    <div>
                        {{ form.password.label(class="form-label input-label") }}
                        {{ form.password(class="form-control form-control-lg input-title") }}
                        {{ form_error(form.password) }}
                    </div>                    
                </div>
                <button type="submit" class="btn btn-lg btn-danger btn-fireopal">Sign In</button>
                <a href="{{ url_for('products.search') }}" class="btn btn-lg btn-secondary">Cancel</a>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}
