{% extends "base.html" %}
{% block content %}
<div class="container-sm">
    <div class="row pt-5">
        <div class="col-sm-4"></div>
        <div class="col-12 col-sm-4">
            <form method="POST" action="{{ url_for('userauth.signin') }}">
                <div class="mb-3">
                    <label for="username" class="form-label input-label">User Name:</label>
                    <input type="text" class="form-control input-title" id="username" 
                        name="username" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" 
                        title="User Name may contain letters or numbers and must be between 5 and 20 characters long" 
                        required>
                </div>
                <div class="mb-3 pb-2">
                    <label for="password" class="form-label input-label">Password:</label>
                    <input type="password" class="form-control input-title" id="password" 
                        name="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$"
                        title="Password may contain letters or numbers and must be at between 5 and 20 characters long"
                        required>
                </div>
                <button type="submit" class="btn btn-lg btn-danger btn-fireopal">Sign In</button>
                <a href="{{ url_for('userauth.register') }}" class="btn btn-lg btn-danger btn-fireopal">Register</a>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}
